main {
  width: 80vw;
  min-width: 740px;
  max-width: 1090px;
  margin: 7.7rem auto 1rem;
}

.breadcrumb {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: clamp(0.8rem, 0.6897rem + 0.5517vw, 1rem);
}

.breadcrumb a, .breadcrumb p {
  color: var(--txt-color-2);
}

.breadcrumb a:last-of-type {
  color: var(--txt-color-1);
}

.main-content-container {
  display: flex;
  margin-top: 0.5rem;
}

.main-feed {
  width: 70%;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.main-feed-article {
  background: var(--bg-color-1);
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.2s ease all;
}

.main-feed-article img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-bottom: 1px solid var(--accent-color-2);
}

.article-category {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--accent-color-2);
  color: #fafafa !important;
  padding: 0.2rem 0.4rem;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.main-feed-article div {
  padding: 0.3rem 1rem 0.8rem;
}

.main-feed-article h2 {
  padding-bottom: 0.6rem;
  transition: 0.2s ease all;
}

.main-feed-article p {
  color: var(--txt-color-2);
}

.main-feed-article:hover {
  border-color: var(--accent-color-2);
  transition: 0.2s ease all;
}

.main-feed-article:hover h2 {
  color: var(--accent-color-1);
  transition: 0.2s ease all;
}

.article-stack {
  background: var(--bg-color-1);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}

.article-stack article {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.8rem;
}

.article-stack h3 {
  padding: 0.4rem;
}

.article-stack img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  border-radius: 0.1rem;
}

.article-stack article div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.article-stack h4 {
  font-size: 0.9rem;
}

.article-stack p {
  font-size: 0.8rem;
  color: var(--txt-color-2);
}

.article-stack hr {
  background: var(--border-color);
}

.article-stack hr:first-of-type {
  background: var(--accent-color-2);
}

.article-stack article:hover {
  cursor: pointer;
}

.article-stack article:hover h4 {
  color: var(--accent-color-1);
}

.main-feed .article-stack {
  display: none;
}

.main-sidebar {
  width: 30%;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.subscribe-item {
  background: #c20000;
  background: linear-gradient(180deg, rgba(194, 0, 0, 1) 0%, rgba(149, 1, 1, 1) 50%, rgba(61, 0, 0, 1) 100%);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.subscribe-item h2, .subscribe-item p {
  color: #fafafa;
}

.subscribe-item button {
  height: 2rem;
  margin-top: 1rem;
}

.main-feed .subscribe-item {
  display: none;
  align-items: center;
}

.main-feed .subscribe-item button {
  width: 8rem;
}