nav {
  position: fixed;
  width: 100%;
  background: var(--bg-color-1);
  box-shadow: 0 0.05rem 1rem 0.2rem rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.big-nav {
  width: 80vw;
  min-width: 740px;
  max-width: 1090px;
  margin: auto;
}

.big-nav-top {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.big-nav-top-left {
  display: flex;
  align-items: center;
  width: 8rem;
}

.big-nav-top-center {
  font-size: 1.2rem;
}

.big-nav-top-right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 8rem;
}

.big-nav-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-nav-bottom svg {
  height: 1.6rem;
}

.theme-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: -0.3rem;
}

.theme-switch input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.light-mode-icon {
  display: none;
}

.theme-switch:has(input:checked) .light-mode-icon {
  display: block;
}

.theme-switch:has(input:checked) .dark-mode-icon {
  display: none;
}

.big-nav-bottom-center {
  width: 80%;
}

.big-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 0.6rem 0;
}

.big-nav-links li {
  position: relative;
  transition: 0.2s ease all;
}

.big-nav-links li a {
  color: var(--txt-color-2);
  transition: 0.2s ease all;
}

.big-nav-links li a:hover, .active-nav-link a { 
  color: var(--txt-color-1) !important;
  transition: 0.2s ease all;
}

.big-nav-links li::after {
  content: "";
  background: var(--accent-color-1);
  position: absolute;
  width: 0;
  height: 0.15rem;
  top: 1.5rem;
  left: 0;
  transition: 0.2s ease all;
}

.big-nav-links li:hover::after, .active-nav-link::after {
  width: 100% !important;
}

.small-nav {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
}

.small-nav-left h1 {
  font-size: 1.3rem;
}

.small-nav-right {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 0.7rem;
}

.small-nav-right svg {
  height: 1.7rem;
  padding: 0;
  margin-right: -0.2rem;
}

.small-nav-right .subscribe-btn {
  font-size: 0.8rem;
  padding-bottom: 1.4rem;
  height: 1.5rem;
}

.hm {
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
}

.hm input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hm-close {
  display: none;
}

.hm:has(input:checked) .hm-close {
  display: block;
}

.hm:has(input:checked) .hm-open {
  display: none;
}

.hm:has(input:checked) .nav-sidebar {
  display: flex;
}

.small-logo {
  display: none;
}

.nav-sidebar {
  display: none;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 2.7rem;
  position: fixed;
}

.nav-sidebar div {
  width: 40%;
  background: rgba(0, 0, 0, 0.5);
}

.nav-sidebar ul {
  width: 60%;
  margin-top: -0.1rem;
  padding: 1rem;
  gap: 1rem;
  background: var(--bg-color-1);
}

.nav-sidebar ul hr {
  border: none;
  width: 100%;
  height: 1px;
  background: var(--accent-color-1);
}

.nav-sidebar-buttons {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 100%;
}